In [ ]:
Q1:
import pandas as pd

# Read the CSV file
Grc_df = pd.read_csv('Grocery_dataset.csv')

# Print number of rows and columns
print("Number of rows and columns:", Grc_df.shape)

# Display first 10 and last 10 rows
print("First 10 rows:")
print(Grc_df.head(10))

print("Last 10 rows:")
print(Grc_df.tail(10))

In [ ]:
Q1:
Number of rows and columns: (5000, 12)
First 10 rows:
  Item_Identifier  Item_Weight  ...        Outlet_Type  Item_Outlet_Sales
0           FDA15        9.300  ...  Supermarket Type1          3735.1380
1           DRC01        5.920  ...  Supermarket Type2           443.4228
2           FDN15       17.500  ...  Supermarket Type1          2097.2700
3           FDX07       19.200  ...      Grocery Store           732.3800
4           NCD19        8.930  ...  Supermarket Type1           994.7052
5           FDP36       10.395  ...  Supermarket Type2           556.6088
6           FDO10       13.650  ...  Supermarket Type1           343.5528
7           FDP10          NaN  ...  Supermarket Type3          4022.7636
8           FDH17       16.200  ...  Supermarket Type1          1076.5986
9           FDU28       19.200  ...  Supermarket Type1          4710.5350

[10 rows x 12 columns]
Last 10 rows:
     Item_Identifier  Item_Weight  ...        Outlet_Type  Item_Outlet_Sales
4990           FDE46        18.60  ...  Supermarket Type1           453.4098
4991           NCQ53        17.60  ...  Supermarket Type1          8508.9240
4992           NCN42        20.25  ...  Supermarket Type2          1177.1344
4993           DRH11         5.98  ...  Supermarket Type1           331.5684
4994           NCI42        18.75  ...  Supermarket Type1          2292.3494
4995           FDT07         5.82  ...  Supermarket Type1          4870.3270
4996           DRL60         8.52  ...  Supermarket Type1           914.8092
4997           FDG20        15.50  ...  Supermarket Type2          1239.7196
4998           FDF56        16.70  ...  Supermarket Type1          1810.9760
4999           FDV33         9.60  ...  Supermarket Type2          2324.9736

[10 rows x 12 columns]

In [ ]:
Q2:
import pandas as pd

Grc_df = pd.read_csv('Grocery_dataset.csv')

null_values = Grc_df.isnull().sum()
print("Null values in each column:")
print(null_values)


file_path = "Grocery_dataset.csv"
Grc_df = pd.read_csv(file_path)

null_values = Grc_df.isnull().sum()
null_values

In [ ]:
Q2:
Null values in each column:
Item_Identifier                 0
Item_Weight                   818
Item_Fat_Content                0
Item_Visibility                 0
Item_Type                       0
Item_MRP                        0
Outlet_Identifier               0
Outlet_Establishment_Year       0
Outlet_Size                  1439
Outlet_Location_Type            0
Outlet_Type                     0
Item_Outlet_Sales               0
dtype: int64

In [ ]:
Q3:
import pandas as pd

Grc_df = pd.read_csv('Grocery_dataset.csv')

outlet_sizes = Grc_df['Outlet_Size'].value_counts()
print("Unique Outlet Sizes:", outlet_sizes)

# Maximum and minimum Outlet Size
max_size = outlet_sizes.idxmax()
min_size = outlet_sizes.idxmin()

print("Max Outlet Size:", max_size)
print("Min Outlet Size:", min_size)

In [ ]:
Q3:
Unique Outlet Sizes: Outlet_Size
Medium    1605
Small     1398
High       558
Name: count, dtype: int64
Max Outlet Size: Medium
Min Outlet Size: High

In [ ]:
Q4:
import pandas as pd

Grc_df = pd.read_csv('Grocery_dataset.csv')

fat_content = Grc_df['Item_Fat_Content'].value_counts()
print("Unique Item Fat Content types:", fat_content)

# If there are issues (like inconsistent labels), we can handle it like this:
# Replace inconsistent values, e.g. 'low fat' with 'Low Fat'
Grc_df['Item_Fat_Content'].replace({'low fat': 'Low Fat', 'LF': 'Low Fat', 'reg': 'Regular'}, inplace=True)

# Check after cleaning
print("Cleaned Item Fat Content types:", Grc_df['Item_Fat_Content'].value_counts())

In [ ]:
Q4:
Unique Item Fat Content types: Item_Fat_Content
Low Fat    3008
Regular    1679
LF          183
reg          68
low fat      62
Name: count, dtype: int64
Cleaned Item Fat Content types: Item_Fat_Content
Low Fat    3253
Regular    1747
Name: count, dtype: int64
c:\users\vithu\onedrive\dokumenter\ai\oblig1.py:17: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  Grc_df['Item_Fat_Content'].replace({'low fat': 'Low Fat', 'LF': 'Low Fat', 'reg': 'Regular'}, inplace=True)

In [ ]:
Q5:
import pandas as pd

Grc_df = pd.read_csv('Grocery_dataset.csv')

Grc_new_df = Grc_df.drop(Grc_df.columns[[0, 6]], axis=1)
print("New DataFrame after dropping columns:")
print(Grc_new_df.head())

In [ ]:
Q5:
New DataFrame after dropping columns:
   Item_Weight Item_Fat_Content  ...        Outlet_Type Item_Outlet_Sales
0         9.30          Low Fat  ...  Supermarket Type1         3735.1380
1         5.92          Regular  ...  Supermarket Type2          443.4228
2        17.50          Low Fat  ...  Supermarket Type1         2097.2700
3        19.20          Regular  ...      Grocery Store          732.3800
4         8.93          Low Fat  ...  Supermarket Type1          994.7052

[5 rows x 10 columns]

In [ ]:
Q6:
SupType_1 = Grc_new_df[Grc_new_df['Outlet_Type'] == 'Supermarket Type1']
SupType_2 = Grc_new_df[Grc_new_df['Outlet_Type'] == 'Supermarket Type2']

print("Supermarket Type1 DataFrame:")
print(SupType_1.head())

print("Supermarket Type2 DataFrame:")
print(SupType_2.head())

In [ ]:
Q6:
Number of rows and columns: (5000, 12)
First 10 rows:
  Item_Identifier  Item_Weight  ...        Outlet_Type  Item_Outlet_Sales
0           FDA15        9.300  ...  Supermarket Type1          3735.1380
1           DRC01        5.920  ...  Supermarket Type2           443.4228
2           FDN15       17.500  ...  Supermarket Type1          2097.2700
3           FDX07       19.200  ...      Grocery Store           732.3800
4           NCD19        8.930  ...  Supermarket Type1           994.7052
5           FDP36       10.395  ...  Supermarket Type2           556.6088
6           FDO10       13.650  ...  Supermarket Type1           343.5528
7           FDP10          NaN  ...  Supermarket Type3          4022.7636
8           FDH17       16.200  ...  Supermarket Type1          1076.5986
9           FDU28       19.200  ...  Supermarket Type1          4710.5350

[10 rows x 12 columns]
Last 10 rows:
     Item_Identifier  Item_Weight  ...        Outlet_Type  Item_Outlet_Sales
4990           FDE46        18.60  ...  Supermarket Type1           453.4098
4991           NCQ53        17.60  ...  Supermarket Type1          8508.9240
4992           NCN42        20.25  ...  Supermarket Type2          1177.1344
4993           DRH11         5.98  ...  Supermarket Type1           331.5684
4994           NCI42        18.75  ...  Supermarket Type1          2292.3494
4995           FDT07         5.82  ...  Supermarket Type1          4870.3270
4996           DRL60         8.52  ...  Supermarket Type1           914.8092
4997           FDG20        15.50  ...  Supermarket Type2          1239.7196
4998           FDF56        16.70  ...  Supermarket Type1          1810.9760
4999           FDV33         9.60  ...  Supermarket Type2          2324.9736

[10 rows x 12 columns]
Null values in each column:
Item_Identifier                 0
Item_Weight                   818
Item_Fat_Content                0
Item_Visibility                 0
Item_Type                       0
Item_MRP                        0
Outlet_Identifier               0
Outlet_Establishment_Year       0
Outlet_Size                  1439
Outlet_Location_Type            0
Outlet_Type                     0
Item_Outlet_Sales               0
dtype: int64
Unique Outlet Sizes: Outlet_Size
Medium    1605
Small     1398
High       558
Name: count, dtype: int64
Max Outlet Size: Medium
Min Outlet Size: High
Unique Item Fat Content types: Item_Fat_Content
Low Fat    3008
Regular    1679
LF          183
reg          68
low fat      62
Name: count, dtype: int64
Cleaned Item Fat Content types: Item_Fat_Content
Low Fat    3253
Regular    1747
Name: count, dtype: int64
New DataFrame after dropping columns:
   Item_Weight Item_Fat_Content  ...        Outlet_Type Item_Outlet_Sales
0         9.30          Low Fat  ...  Supermarket Type1         3735.1380
1         5.92          Regular  ...  Supermarket Type2          443.4228
2        17.50          Low Fat  ...  Supermarket Type1         2097.2700
3        19.20          Regular  ...      Grocery Store          732.3800
4         8.93          Low Fat  ...  Supermarket Type1          994.7052

[5 rows x 10 columns]
Supermarket Type1 DataFrame:
   Item_Weight Item_Fat_Content  ...        Outlet_Type Item_Outlet_Sales
0         9.30          Low Fat  ...  Supermarket Type1         3735.1380
2        17.50          Low Fat  ...  Supermarket Type1         2097.2700
4         8.93          Low Fat  ...  Supermarket Type1          994.7052
6        13.65          Regular  ...  Supermarket Type1          343.5528
8        16.20          Regular  ...  Supermarket Type1         1076.5986

[5 rows x 10 columns]
Supermarket Type2 DataFrame:
    Item_Weight Item_Fat_Content  ...        Outlet_Type Item_Outlet_Sales
1         5.920          Regular  ...  Supermarket Type2          443.4228
5        10.395          Regular  ...  Supermarket Type2          556.6088
16       11.800          Low Fat  ...  Supermarket Type2         1621.8888
31       18.600          Low Fat  ...  Supermarket Type2         2741.7644
32       18.700          Low Fat  ...  Supermarket Type2         3068.0064

[5 rows x 10 columns]
c:\users\vithu\onedrive\dokumenter\ai\oblig1.py:48: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  Grc_df['Item_Fat_Content'].replace({'low fat': 'Low Fat', 'LF': 'Low Fat', 'reg': 'Regular'}, inplace=True)

In [ ]:
Q7:
import seaborn as sns
import matplotlib.pyplot as plt

# Set ggplot style
plt.style.use('ggplot')

# Create subplots
fig, axs = plt.subplots(2, 1, figsize=(10, 8))

# Boxplot for SupType_1
sns.boxplot(data=SupType_1, y='Item_MRP', ax=axs[0])
axs[0].set_title('Item MRP for Supermarket Type 1')

# Boxplot for SupType_2
sns.boxplot(data=SupType_2, y='Item_MRP', ax=axs[1])
axs[1].set_title('Item MRP for Supermarket Type 2')

plt.tight_layout()
plt.show()

# Check median MRP and outliers
print("Median MRP for SupType_1:", SupType_1['Item_MRP'].median())
print("Median MRP for SupType_2:", SupType_2['Item_MRP'].median())

In [2]:
Q7:
Number of rows and columns: (5000, 12)
First 10 rows:
  Item_Identifier  Item_Weight  ...        Outlet_Type  Item_Outlet_Sales
0           FDA15        9.300  ...  Supermarket Type1          3735.1380
1           DRC01        5.920  ...  Supermarket Type2           443.4228
2           FDN15       17.500  ...  Supermarket Type1          2097.2700
3           FDX07       19.200  ...      Grocery Store           732.3800
4           NCD19        8.930  ...  Supermarket Type1           994.7052
5           FDP36       10.395  ...  Supermarket Type2           556.6088
6           FDO10       13.650  ...  Supermarket Type1           343.5528
7           FDP10          NaN  ...  Supermarket Type3          4022.7636
8           FDH17       16.200  ...  Supermarket Type1          1076.5986
9           FDU28       19.200  ...  Supermarket Type1          4710.5350

[10 rows x 12 columns]
Last 10 rows:
     Item_Identifier  Item_Weight  ...        Outlet_Type  Item_Outlet_Sales
4990           FDE46        18.60  ...  Supermarket Type1           453.4098
4991           NCQ53        17.60  ...  Supermarket Type1          8508.9240
4992           NCN42        20.25  ...  Supermarket Type2          1177.1344
4993           DRH11         5.98  ...  Supermarket Type1           331.5684
4994           NCI42        18.75  ...  Supermarket Type1          2292.3494
4995           FDT07         5.82  ...  Supermarket Type1          4870.3270
4996           DRL60         8.52  ...  Supermarket Type1           914.8092
4997           FDG20        15.50  ...  Supermarket Type2          1239.7196
4998           FDF56        16.70  ...  Supermarket Type1          1810.9760
4999           FDV33         9.60  ...  Supermarket Type2          2324.9736

[10 rows x 12 columns]
Null values in each column:
Item_Identifier                 0
Item_Weight                   818
Item_Fat_Content                0
Item_Visibility                 0
Item_Type                       0
Item_MRP                        0
Outlet_Identifier               0
Outlet_Establishment_Year       0
Outlet_Size                  1439
Outlet_Location_Type            0
Outlet_Type                     0
Item_Outlet_Sales               0
dtype: int64
Unique Outlet Sizes: Outlet_Size
Medium    1605
Small     1398
High       558
Name: count, dtype: int64
Max Outlet Size: Medium
Min Outlet Size: High
Unique Item Fat Content types: Item_Fat_Content
Low Fat    3008
Regular    1679
LF          183
reg          68
low fat      62
Name: count, dtype: int64
Cleaned Item Fat Content types: Item_Fat_Content
Low Fat    3253
Regular    1747
Name: count, dtype: int64
New DataFrame after dropping columns:
   Item_Weight Item_Fat_Content  ...        Outlet_Type Item_Outlet_Sales
0         9.30          Low Fat  ...  Supermarket Type1         3735.1380
1         5.92          Regular  ...  Supermarket Type2          443.4228
2        17.50          Low Fat  ...  Supermarket Type1         2097.2700
3        19.20          Regular  ...      Grocery Store          732.3800
4         8.93          Low Fat  ...  Supermarket Type1          994.7052

[5 rows x 10 columns]
Supermarket Type1 DataFrame:
   Item_Weight Item_Fat_Content  ...        Outlet_Type Item_Outlet_Sales
0         9.30          Low Fat  ...  Supermarket Type1         3735.1380
2        17.50          Low Fat  ...  Supermarket Type1         2097.2700
4         8.93          Low Fat  ...  Supermarket Type1          994.7052
6        13.65          Regular  ...  Supermarket Type1          343.5528
8        16.20          Regular  ...  Supermarket Type1         1076.5986

[5 rows x 10 columns]
Supermarket Type2 DataFrame:
    Item_Weight Item_Fat_Content  ...        Outlet_Type Item_Outlet_Sales
1         5.920          Regular  ...  Supermarket Type2          443.4228
5        10.395          Regular  ...  Supermarket Type2          556.6088
16       11.800          Low Fat  ...  Supermarket Type2         1621.8888
31       18.600          Low Fat  ...  Supermarket Type2         2741.7644
32       18.700          Low Fat  ...  Supermarket Type2         3068.0064

[5 rows x 10 columns]
c:\users\vithu\onedrive\dokumenter\ai\oblig1.py:48: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  Grc_df['Item_Fat_Content'].replace({'low fat': 'Low Fat', 'LF': 'Low Fat', 'reg': 'Regular'}, inplace=True)

Median MRP for SupType_1: 144.7457
Median MRP for SupType_2: 130.18099999999998

    # median for subtype_1 is higher

SyntaxError: invalid syntax (2342816860.py, line 1)

In [ ]:
Q8:
Grc_Concat_df = pd.concat([SupType_1, SupType_2])

# Sort by Item_Outlet_Sales
Grc_Concat_df = Grc_Concat_df.sort_values(by='Item_Outlet_Sales', ascending=True)

# Find Outlet_Location_Type for lowest sales
lowest_sales_location = Grc_Concat_df.iloc[0]['Outlet_Location_Type']
print("Outlet_Location_Type of store with lowest sales:", lowest_sales_location)

In [ ]:
Q8:
Number of rows and columns: (5000, 12)
First 10 rows:
  Item_Identifier  Item_Weight  ...        Outlet_Type  Item_Outlet_Sales
0           FDA15        9.300  ...  Supermarket Type1          3735.1380
1           DRC01        5.920  ...  Supermarket Type2           443.4228
2           FDN15       17.500  ...  Supermarket Type1          2097.2700
3           FDX07       19.200  ...      Grocery Store           732.3800
4           NCD19        8.930  ...  Supermarket Type1           994.7052
5           FDP36       10.395  ...  Supermarket Type2           556.6088
6           FDO10       13.650  ...  Supermarket Type1           343.5528
7           FDP10          NaN  ...  Supermarket Type3          4022.7636
8           FDH17       16.200  ...  Supermarket Type1          1076.5986
9           FDU28       19.200  ...  Supermarket Type1          4710.5350

[10 rows x 12 columns]
Last 10 rows:
     Item_Identifier  Item_Weight  ...        Outlet_Type  Item_Outlet_Sales
4990           FDE46        18.60  ...  Supermarket Type1           453.4098
4991           NCQ53        17.60  ...  Supermarket Type1          8508.9240
4992           NCN42        20.25  ...  Supermarket Type2          1177.1344
4993           DRH11         5.98  ...  Supermarket Type1           331.5684
4994           NCI42        18.75  ...  Supermarket Type1          2292.3494
4995           FDT07         5.82  ...  Supermarket Type1          4870.3270
4996           DRL60         8.52  ...  Supermarket Type1           914.8092
4997           FDG20        15.50  ...  Supermarket Type2          1239.7196
4998           FDF56        16.70  ...  Supermarket Type1          1810.9760
4999           FDV33         9.60  ...  Supermarket Type2          2324.9736

[10 rows x 12 columns]
Null values in each column:
Item_Identifier                 0
Item_Weight                   818
Item_Fat_Content                0
Item_Visibility                 0
Item_Type                       0
Item_MRP                        0
Outlet_Identifier               0
Outlet_Establishment_Year       0
Outlet_Size                  1439
Outlet_Location_Type            0
Outlet_Type                     0
Item_Outlet_Sales               0
dtype: int64
Unique Outlet Sizes: Outlet_Size
Medium    1605
Small     1398
High       558
Name: count, dtype: int64
Max Outlet Size: Medium
Min Outlet Size: High
Unique Item Fat Content types: Item_Fat_Content
Low Fat    3008
Regular    1679
LF          183
reg          68
low fat      62
Name: count, dtype: int64
Cleaned Item Fat Content types: Item_Fat_Content
Low Fat    3253
Regular    1747
Name: count, dtype: int64
New DataFrame after dropping columns:
   Item_Weight Item_Fat_Content  ...        Outlet_Type Item_Outlet_Sales
0         9.30          Low Fat  ...  Supermarket Type1         3735.1380
1         5.92          Regular  ...  Supermarket Type2          443.4228
2        17.50          Low Fat  ...  Supermarket Type1         2097.2700
3        19.20          Regular  ...      Grocery Store          732.3800
4         8.93          Low Fat  ...  Supermarket Type1          994.7052

[5 rows x 10 columns]
Supermarket Type1 DataFrame:
   Item_Weight Item_Fat_Content  ...        Outlet_Type Item_Outlet_Sales
0         9.30          Low Fat  ...  Supermarket Type1         3735.1380
2        17.50          Low Fat  ...  Supermarket Type1         2097.2700
4         8.93          Low Fat  ...  Supermarket Type1          994.7052
6        13.65          Regular  ...  Supermarket Type1          343.5528
8        16.20          Regular  ...  Supermarket Type1         1076.5986

[5 rows x 10 columns]
Supermarket Type2 DataFrame:
    Item_Weight Item_Fat_Content  ...        Outlet_Type Item_Outlet_Sales
1         5.920          Regular  ...  Supermarket Type2          443.4228
5        10.395          Regular  ...  Supermarket Type2          556.6088
16       11.800          Low Fat  ...  Supermarket Type2         1621.8888
31       18.600          Low Fat  ...  Supermarket Type2         2741.7644
32       18.700          Low Fat  ...  Supermarket Type2         3068.0064

[5 rows x 10 columns]
c:\users\vithu\onedrive\dokumenter\ai\oblig1.py:48: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  Grc_df['Item_Fat_Content'].replace({'low fat': 'Low Fat', 'LF': 'Low Fat', 'reg': 'Regular'}, inplace=True)
Median MRP for SupType_1: 144.7457
Median MRP for SupType_2: 130.18099999999998
Outlet_Location_Type of store with lowest sales: Tier 3

In [ ]:
Q9:
Grc_Concat_df.set_index(['Outlet_Size', 'Outlet_Location_Type'], inplace=True)

print("DataFrame with multi-index:")
print(Grc_Concat_df.head())

In [ ]:
Q9:
Number of rows and columns: (5000, 12)
First 10 rows:
  Item_Identifier  Item_Weight  ...        Outlet_Type  Item_Outlet_Sales
0           FDA15        9.300  ...  Supermarket Type1          3735.1380
1           DRC01        5.920  ...  Supermarket Type2           443.4228
2           FDN15       17.500  ...  Supermarket Type1          2097.2700
3           FDX07       19.200  ...      Grocery Store           732.3800
4           NCD19        8.930  ...  Supermarket Type1           994.7052
5           FDP36       10.395  ...  Supermarket Type2           556.6088
6           FDO10       13.650  ...  Supermarket Type1           343.5528
7           FDP10          NaN  ...  Supermarket Type3          4022.7636
8           FDH17       16.200  ...  Supermarket Type1          1076.5986
9           FDU28       19.200  ...  Supermarket Type1          4710.5350

[10 rows x 12 columns]
Last 10 rows:
     Item_Identifier  Item_Weight  ...        Outlet_Type  Item_Outlet_Sales
4990           FDE46        18.60  ...  Supermarket Type1           453.4098
4991           NCQ53        17.60  ...  Supermarket Type1          8508.9240
4992           NCN42        20.25  ...  Supermarket Type2          1177.1344
4993           DRH11         5.98  ...  Supermarket Type1           331.5684
4994           NCI42        18.75  ...  Supermarket Type1          2292.3494
4995           FDT07         5.82  ...  Supermarket Type1          4870.3270
4996           DRL60         8.52  ...  Supermarket Type1           914.8092
4997           FDG20        15.50  ...  Supermarket Type2          1239.7196
4998           FDF56        16.70  ...  Supermarket Type1          1810.9760
4999           FDV33         9.60  ...  Supermarket Type2          2324.9736

[10 rows x 12 columns]
Null values in each column:
Item_Identifier                 0
Item_Weight                   818
Item_Fat_Content                0
Item_Visibility                 0
Item_Type                       0
Item_MRP                        0
Outlet_Identifier               0
Outlet_Establishment_Year       0
Outlet_Size                  1439
Outlet_Location_Type            0
Outlet_Type                     0
Item_Outlet_Sales               0
dtype: int64
Unique Outlet Sizes: Outlet_Size
Medium    1605
Small     1398
High       558
Name: count, dtype: int64
Max Outlet Size: Medium
Min Outlet Size: High
Unique Item Fat Content types: Item_Fat_Content
Low Fat    3008
Regular    1679
LF          183
reg          68
low fat      62
Name: count, dtype: int64
Cleaned Item Fat Content types: Item_Fat_Content
Low Fat    3253
Regular    1747
Name: count, dtype: int64
New DataFrame after dropping columns:
   Item_Weight Item_Fat_Content  ...        Outlet_Type Item_Outlet_Sales
0         9.30          Low Fat  ...  Supermarket Type1         3735.1380
1         5.92          Regular  ...  Supermarket Type2          443.4228
2        17.50          Low Fat  ...  Supermarket Type1         2097.2700
3        19.20          Regular  ...      Grocery Store          732.3800
4         8.93          Low Fat  ...  Supermarket Type1          994.7052

[5 rows x 10 columns]
Supermarket Type1 DataFrame:
   Item_Weight Item_Fat_Content  ...        Outlet_Type Item_Outlet_Sales
0         9.30          Low Fat  ...  Supermarket Type1         3735.1380
2        17.50          Low Fat  ...  Supermarket Type1         2097.2700
4         8.93          Low Fat  ...  Supermarket Type1          994.7052
6        13.65          Regular  ...  Supermarket Type1          343.5528
8        16.20          Regular  ...  Supermarket Type1         1076.5986

[5 rows x 10 columns]
Supermarket Type2 DataFrame:
    Item_Weight Item_Fat_Content  ...        Outlet_Type Item_Outlet_Sales
1         5.920          Regular  ...  Supermarket Type2          443.4228
5        10.395          Regular  ...  Supermarket Type2          556.6088
16       11.800          Low Fat  ...  Supermarket Type2         1621.8888
31       18.600          Low Fat  ...  Supermarket Type2         2741.7644
32       18.700          Low Fat  ...  Supermarket Type2         3068.0064

[5 rows x 10 columns]
c:\users\vithu\onedrive\dokumenter\ai\oblig1.py:48: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  Grc_df['Item_Fat_Content'].replace({'low fat': 'Low Fat', 'LF': 'Low Fat', 'reg': 'Regular'}, inplace=True)
Median MRP for SupType_1: 144.7457
Median MRP for SupType_2: 130.18099999999998
Outlet_Location_Type of store with lowest sales: Tier 3
DataFrame with multi-index:
                                  Item_Weight  ... Item_Outlet_Sales
Outlet_Size Outlet_Location_Type               ...                  
High        Tier 3                     20.500  ...           73.2380
Medium      Tier 3                      6.635  ...           75.9012
            Tier 3                      6.320  ...           78.5644
NaN         Tier 2                      9.105  ...           99.8700
Small       Tier 1                     19.250  ...          101.8674

[5 rows x 8 columns]

In [12]:
Q10:
Grc_Concat_df['Weight_Buckets'] = pd.cut(Grc_Concat_df['Item_Weight'], bins=10)

# Group by the weight buckets and compute the statistics
weight_stats = Grc_Concat_df.groupby('Weight_Buckets')['Item_Weight'].agg(['mean', 'min', 'max', 'count'])
print("Statistics for each weight bucket:")
print(weight_stats)

SyntaxError: invalid syntax (517933268.py, line 1)

In [14]:
Q10:
Number of rows and columns: (5000, 12)
First 10 rows:
  Item_Identifier  Item_Weight  ...        Outlet_Type  Item_Outlet_Sales
0           FDA15        9.300  ...  Supermarket Type1          3735.1380
1           DRC01        5.920  ...  Supermarket Type2           443.4228
2           FDN15       17.500  ...  Supermarket Type1          2097.2700
3           FDX07       19.200  ...      Grocery Store           732.3800
4           NCD19        8.930  ...  Supermarket Type1           994.7052
5           FDP36       10.395  ...  Supermarket Type2           556.6088
6           FDO10       13.650  ...  Supermarket Type1           343.5528
7           FDP10          NaN  ...  Supermarket Type3          4022.7636
8           FDH17       16.200  ...  Supermarket Type1          1076.5986
9           FDU28       19.200  ...  Supermarket Type1          4710.5350

[10 rows x 12 columns]
Last 10 rows:
     Item_Identifier  Item_Weight  ...        Outlet_Type  Item_Outlet_Sales
4990           FDE46        18.60  ...  Supermarket Type1           453.4098
4991           NCQ53        17.60  ...  Supermarket Type1          8508.9240
4992           NCN42        20.25  ...  Supermarket Type2          1177.1344
4993           DRH11         5.98  ...  Supermarket Type1           331.5684
4994           NCI42        18.75  ...  Supermarket Type1          2292.3494
4995           FDT07         5.82  ...  Supermarket Type1          4870.3270
4996           DRL60         8.52  ...  Supermarket Type1           914.8092
4997           FDG20        15.50  ...  Supermarket Type2          1239.7196
4998           FDF56        16.70  ...  Supermarket Type1          1810.9760
4999           FDV33         9.60  ...  Supermarket Type2          2324.9736

[10 rows x 12 columns]
Null values in each column:
Item_Identifier                 0
Item_Weight                   818
Item_Fat_Content                0
Item_Visibility                 0
Item_Type                       0
Item_MRP                        0
Outlet_Identifier               0
Outlet_Establishment_Year       0
Outlet_Size                  1439
Outlet_Location_Type            0
Outlet_Type                     0
Item_Outlet_Sales               0
dtype: int64
Unique Outlet Sizes: Outlet_Size
Medium    1605
Small     1398
High       558
Name: count, dtype: int64
Max Outlet Size: Medium
Min Outlet Size: High
Unique Item Fat Content types: Item_Fat_Content
Low Fat    3008
Regular    1679
LF          183
reg          68
low fat      62
Name: count, dtype: int64
Cleaned Item Fat Content types: Item_Fat_Content
Low Fat    3253
Regular    1747
Name: count, dtype: int64
New DataFrame after dropping columns:
   Item_Weight Item_Fat_Content  ...        Outlet_Type Item_Outlet_Sales
0         9.30          Low Fat  ...  Supermarket Type1         3735.1380
1         5.92          Regular  ...  Supermarket Type2          443.4228
2        17.50          Low Fat  ...  Supermarket Type1         2097.2700
3        19.20          Regular  ...      Grocery Store          732.3800
4         8.93          Low Fat  ...  Supermarket Type1          994.7052

[5 rows x 10 columns]
Supermarket Type1 DataFrame:
   Item_Weight Item_Fat_Content  ...        Outlet_Type Item_Outlet_Sales
0         9.30          Low Fat  ...  Supermarket Type1         3735.1380
2        17.50          Low Fat  ...  Supermarket Type1         2097.2700
4         8.93          Low Fat  ...  Supermarket Type1          994.7052
6        13.65          Regular  ...  Supermarket Type1          343.5528
8        16.20          Regular  ...  Supermarket Type1         1076.5986

[5 rows x 10 columns]
Supermarket Type2 DataFrame:
    Item_Weight Item_Fat_Content  ...        Outlet_Type Item_Outlet_Sales
1         5.920          Regular  ...  Supermarket Type2          443.4228
5        10.395          Regular  ...  Supermarket Type2          556.6088
16       11.800          Low Fat  ...  Supermarket Type2         1621.8888
31       18.600          Low Fat  ...  Supermarket Type2         2741.7644
32       18.700          Low Fat  ...  Supermarket Type2         3068.0064

[5 rows x 10 columns]
c:\users\vithu\onedrive\dokumenter\ai\oblig1.py:48: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  Grc_df['Item_Fat_Content'].replace({'low fat': 'Low Fat', 'LF': 'Low Fat', 'reg': 'Regular'}, inplace=True)
Median MRP for SupType_1: 144.7457
Median MRP for SupType_2: 130.18099999999998
Outlet_Location_Type of store with lowest sales: Tier 3
DataFrame with multi-index:
                                  Item_Weight  ... Item_Outlet_Sales
Outlet_Size Outlet_Location_Type               ...                  
High        Tier 3                     20.500  ...           73.2380
Medium      Tier 3                      6.635  ...           75.9012
            Tier 3                      6.320  ...           78.5644
NaN         Tier 2                      9.105  ...           99.8700
Small       Tier 1                     19.250  ...          101.8674

[5 rows x 8 columns]
Statistics for each weight bucket:
                       mean     min     max  count
Weight_Buckets                                    
(4.538, 6.234]     5.623814   4.555   6.215    253
(6.234, 7.914]     7.121807   6.235   7.905    476
(7.914, 9.594]     8.761867   7.930   9.500    450
(9.594, 11.273]   10.344917   9.600  11.150    362
(11.273, 12.952]  12.081635  11.300  12.850    419
(12.952, 14.632]  13.716193  13.000  14.600    352
(14.632, 16.312]  15.495976  14.650  16.250    410
(16.312, 17.991]  17.172672  16.350  17.850    408
(17.991, 19.671]  18.838005  18.000  19.600    396
(19.671, 21.35]   20.357012  19.700  21.350    328
c:\users\vithu\onedrive\dokumenter\ai\oblig1.py:111: FutureWarning: The default of observed=False is deprecated and will be changed to True in a future version of pandas. Pass observed=False to retain current behavior or observed=True to adopt the future default and silence this warning.
  weight_stats = Grc_Concat_df.groupby('Weight_Buckets')['Item_Weight'].agg(['mean', 'min', 'max', 'count'])

SyntaxError: invalid syntax (3689029293.py, line 1)